/*#################*/
/*@MEDIA QUERY*/
/*################*/

@media screen and (max-widtH: 992px){

    /*IMAGEM LOGO*/
    img {
    width: 120px;
    height: 90px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.006);
    }   

    /*PARTE DOS MENUS*/
    #menus > ul{
        display: none;
    }

    #menus > .btn {
        display: none;
    }



    #menuB {
        color: white;
        display: block;
    }

    .oferta {
        padding: 10px;
    }

    /*PARTE DA OFERTA IMPERDIVEL*/
    .armazem {
        display: flex;
        padding: 10px;
        flex-direction: column;
    }

    /*COR DE FUNDO DO H1*/
    #color-txt {
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 10px;
    }

    /*CONTAINER ESQUERDO*/
    #container-left {
        margin-bottom: 50px;
    }
    
    #color-txt {
        padding-right: 200px;
    }

    /*CONTEINER ESQUERDO H1*/
    #container-left  h1 {
        font-size: 30px;
    }

    /*H2 DO TEMPO RESTANTE*/
    #txt-h2 > h2 {
    font-size: 30px;
    }

    /*CONTAINER DA CONTAGEM REGRESSIVA*/
    .cont-texte {
    margin-top: 15px;
    }

    /*PARAGRAFO DO LADO ESQUEDO */
    .cont-texte > p {
    font-size: 20px;
    padding: 19px;
    border-radius: 10px;
    margin: 15px;
    }

    /*PARTE DO LADO DIREITO*/
    #container-right {
    max-width: 320px;
    border-radius: 10px;
    }

    /*FOOTER*/
    footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    }

    #bloco-esquerdo {
    display: flex;
    margin-bottom: 30px;
    }
    
     /*PARTE ESQUEDA DA DIV E AS IMAGENS*/
    #bloco-esquerdo > a > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    transition: .3s;
    }

}


/*##############################*/
/*KEY FRAMES*/
 /*KEY FRAMES*/
 @keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

    }

    /*SELECIONADOS PARA TER A ANIMAÇÃO*/
    section, header, footer, main {
  animation: aparecer 0.9s ease forwards;
}