/*#################*/
/*@MEDIA QUERY*/
/*################*/

@media screen and (max-widtH: 768px){
    /*PARTE DOS MENUS*/
    #menus > ul{
        display: none;
    }

    #menus > .btn {
        display: none;
    }



    #menuB {
        color: white;
        display: block;
    }


    /*PARTE DA OFERTA IMPERDIVEL*/
    .armazem {
        display: flex;
        flex-direction: column;
    }

    /*COR DE FUNDO DO H1*/
    #color-txt {
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 10px;
    }

    /*CONTEINER ESQUERDO H1*/
    #container-left  h1 {
        font-size: 50px;
    }

    /*CONTAINER H2 DO TEMPO RESTANTE*/
    #txt-h2 {
    text-align: center;
    }

    /*H2 DO TEMPO RESTANTE*/
    #txt-h2 > h2 {
    font-size: 30px;
    }

    /*CONTAINER DA CONTAGEM REGRESSIVA*/
    .cont-texte {
    display: flex;
    }

    /*PARAGRAFO DO LADO ESQUEDO */
    .cont-texte > p {
    font-family: var(--inter);
    font-size: 20px;
    background-color: var(--Branco);
    padding: 25px;
    border-radius: 10px;
    margin: 20px;
    }




}