@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@100..900&display=swap');

/*Seletor Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ROOT*/
:root {
    /*Cores*/
    --QuasePreto: #0F172A;
    --Azul: #4D7CFE;
    --Branco: white;

    /*Fontes*/
    --inter: "Inter", sans-serif;
    --poppins: "Poppins", sans-serif;
    --noto: "Noto Sans Tamil", sans-serif;
}   

/*HEADER*/
header {
    width: 100%;
    background-color: var(--QuasePreto);
    padding:0px 5%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-bottom: 3px solid rgb(44, 41, 53);
    
} 


/*NAV, COM OS MENUS*/
nav {
    display: flex;
    justify-content: space-between;
}


/*IMAGEM LOGO*/
img {
    width: 130px;
    height: 100px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.006);
}

/*MENUS, INICIO, BENEFICIO E DEPOIMENTO*/
#menus {
    display: flex;
    align-items: center;
}


/*PARTE DA LISTA*/
#menus > ul {
    display: flex; 
    list-style: none;
}


/*A, LINK*/
#menus > ul > li > a{
    margin-right: 40px;
    text-decoration: none;
    color: var(--Branco); 
    font-family: var(--inter);
    transition: .3s;
}

/*A, HOVER*/
#menus > ul > li > a:hover {
    color: rgb(175, 174, 174);
}

/*LINK A*/
.btn {
    width: 170px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to right, var(--Azul), var(--QuasePreto));
    text-decoration: none;
    color: var(--Branco);
    font-family: var(--inter);
    font-weight:  bold;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*LINK  A HOVER*/
#menus .btn:hover {
    color: #000;
    background-image: linear-gradient(var(--Branco));
}

/*MENU BURGUER*/
#menuB {
    color: var(--Branco);
    display: none;
}

/*MENU MOBILE*/
#mobile {
    display: none;
}

/*PRIMEIRO SECTION*/
.container1 {
    background-image: url(../img/fotoS1.jpeg);
    height: 95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Conteudo 1*/
.cont {
    padding: 20px;
    text-align: center;
}

/*H1*/
.cont > h1 {
    color: var(--Branco);
    font-family: var(--poppins);
    padding: 10px;
    font-size: 36px;
}

/*Paragrafo*/
.cont p {
    color: var(--Branco);
    font-family: var(--inter);
    margin: 50px 10px;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

/*Botão*/
.cont > .btn {
    padding: 23px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*Botão hover*/
.cont > .btn:hover {
    padding: 17px;
}


/*Segundo Section Beneficios*/
.container2 {
    margin-top: -70px;
    background-color: var(--Branco);
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
    
}

/*ARTICLE CONTEU*/
.conteu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

/*H1 DO BENEFICIO*/
.container2 h1 {
    text-align: center;
    padding: 26px;
    font-size: 36px;
    font-family: var(--noto);
    font-weight: 900;
    color: var(--Azul);
}

/*DIV BENEFICIO*/
.beneficio {
    max-width: 200px;
    min-height: 252px;
    text-align: center;
    color: var(--Branco);
    padding: 20px;
    border-radius: 18px;
    background-color: var(--Azul);
    font-family: var(--inter);
    font-size: 20px;
    margin: 30px 70px;
}

.beneficio > span {
    font-size: 30px;
    margin-bottom: 25px;
}


/*PARTE DOS DEPOIMENTOS*/
.container3 {
    background-color: #EEEEEE;
    padding: 20px;
}

/*CONTAINER 3 H1*/
.container3 > h1 {
    text-align: center;
    padding: 26px;
    font-size: 36px;
    font-family: var(--noto);
    font-weight: 900;
    color: var(--Azul);
}


/*CONT*/
#geral {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

/*CONTAINER DOS DEPOIMENTOS*/
.depoimentos {
    max-width: 340px;
    background-color: var(--Branco);
    padding: 20px;
    border-radius: 10px;
} 

/*IMAGEM DO LADO DO NOME*/
.divisao {
    display: flex;
    border-bottom: 1px solid black;
    margin: 30px 0px;
}

/*IMAGENS DO DEPOIMENTO*/
.divisao > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 18px;
}

/*H2 DEPOIMENTO*/
.divisao > h2 {
    font-family: var(--noto);
    text-align: center;
    margin-top: 40px;
    margin-left: 15px;
}


/*DEPOIMENTOS PARAGRAFO*/
.depoimentos > p {
    font-family: var(--inter);
}


/*PARTE DA OFERTA ESPECIAL*/
.oferta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, var(--Azul), var(--QuasePreto) );
}

/*CONTAINER DOS ARTICLES*/
.armazem {
    display: flex;
    gap: 190px;
    margin-top: 50px;
}

/*ARTICLE LADO ESQUERDO*/
#container-left {
    
}